.Adelgazar__card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 20%;
}
.Adelgazar__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.Adelgazar__img {
  display: flex;
  align-items: center;
  max-width: 93%;
}
@media (max-width: 1000px) {
  .Adelgazar__container {
    display: flex;
    align-items: flex-start;
  }
}
@media (max-width: 814px) {
  .Adelgazar__card {
    max-width: 100%;
  }
  .Adelgazar__img {
    width: 100%;
    height: auto;
  }
}
