/* Footer.css */

.footer {
  box-sizing: border-box;
  background-color: #2d2d2d;
  color: rgb(29, 222, 68);
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.footer__logo {
  width: 50px;
  height: auto;
  border-radius: 50px;
}
.footer__section-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem; /* mb-6 */
}
.footer__description {
  color: snow;
  font-size: 14px;
}

.footer__grid {
  padding-block: 1px;
  display: flex;
  gap: 8rem;
  max-width: 100%;
  width: 100%;
}
.footer__section-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: white;
  margin: 0%;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__list a {
  text-wrap-mode: nowrap;
  color: white;
  text-decoration: inherit;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 14px;
}
.footer__logo-container {
  display: flex;
  align-items: center;
}
.footer__social-icons {
  width: 100%;
}
.footer__copyright {
  text-align: center;
  font-size: 16px;
  color: #01ff2b;
  margin-top: 2.5rem;
}
.footer__payment-methods {
  position: fixed;
  bottom: 20px;
  right: 30px;
}
a:hover {
  color: #01ff2b;
}
.footer__payment-methods svg {
  stroke: #01ff2b;
  fill: #01ff2b;
  stroke-width: 0;
  height: 3em;
  width: 3em;
}
