.section__card-description {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  text-wrap: balance;
}
.section__card-title-vision {
  font-size: 24px;
  font-weight: bold;
  color: #00acc1;
}
.section__card-title-mision {
  font-size: 24px;
  font-weight: bold;
  color: #00acc1;
}
.section__vision-mission {
  box-sizing: border-box;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.section__grid-cards-vision-mission {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
  gap: 20px;
  padding: 5px;
}
